---
import Layout from "../layouts/Layout.astro";
---

<Layout title="¿En qué pienso?">
  <main onselectstart="return false">
    <!-- <h1>Mi Mar Mental</h1>
    <h1><span class="text-gradient">Escribe a ciegas sin parar</span></h1>
    <p class="instructions">
      Si dejas de escribir por 3 segundos, perderás todo lo escrito.<br />
      No vas a poder copiar (aunque puedas seleccionar el texto).<br />
      Máximo 500 caracteres.<br />
      Una vez termines, persiona el botón <strong>Finalizar</strong>.
    </p> -->
    <textarea
      id="text"
      rows="1"
      maxlength="800"
      onselectstart="return false"
      onpaste="return false"
      oncopy="return false"
      oncut="return false"
      ondrag="return false"
      ondrop="return false"
      autocomplete="off"
      spellcheck="false"></textarea>

    <input type="hidden" id="finish" />
    <div class="buttons">
      <button onclick="downloadImage()">Finalizar</button>
    </div>
    <br />
    <audio id="audioPlayer" src="/music/de-seu.mp3"></audio>
    <br />
    <canvas id="textCanvas" height="20" hidden></canvas>
    <img id="image" hidden />
  </main>
  <script is:inline>
    var tCtx = document.getElementById("textCanvas").getContext("2d"),
      imageElem = document.getElementById("image");

    var timeOutId;

    function clear() {
      timeOutId = setTimeout(() => {
        var canvas = document.getElementById("textCanvas");
        const ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        imageElem.src = "";
        var textarea = document.getElementById("text");
        text.value = "";

        var audio = document.getElementById("audioPlayer");
        audio.pause();
        audio.currentTime = 0; // Rewind the audio to the beginning
      }, 3000);
    }

    document.getElementById("text").addEventListener(
      "keyup",
      function () {
        var audio = document.getElementById("audioPlayer");
        audio.volume = 0.4; // Set the volume to 40%
        if (audio.paused) {
          audio.play();
        }

        clearTimeout(timeOutId);
        tCtx.canvas.width = tCtx.measureText(this.value).width;
        tCtx.fillText(this.value, 0, 10);
        imageElem.src = tCtx.canvas.toDataURL();
        const img = document.getElementById("finish");
        img.value = imageElem.src;
        clear();
      },
      false
    );

    function debugBase64(base64URL) {
      var win = window.open();
      win.document.write(
        '<iframe src="' +
          base64URL +
          '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen></iframe>'
      );
    }

    function downloadImage() {
      const img = document.getElementById("finish");
      console.log("img.value: ", img.value);
      debugBase64(img.value);
    }
  </script>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  textarea {
    font-size: 16px;
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    resize: none;
    box-shadow: none;
    white-space: pre;
    overflow: hidden;
    margin-right: 16px;
    box-sizing: border-box;
  }
  .buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  button {
    margin-top: 0.5rem;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #fff;
    background-color: #0066cc;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  button:hover {
    transition: 1000ms;
    padding: 10px 30px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
  }
</style>
